.navbar-main-container {
  width: 100%;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to right, #182848, #4d75d4);
  color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Outfit', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

h3 {
  font-size: 24px;
  margin: 0;
  color: #fff;
  font-weight: 700;
}

.menu.desktop-menu {
  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    transition: transform 0.3s ease;
    position: relative;
  }

  .link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }

  .link:hover {
    color: aqua;
    transform: scale(1.1);
  }
}

.menu-button {
  display: none;
}

.mobile-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  display: block;
}

.mobile-link:hover {
  color: aqua;
}

/* Responsive Styles */


@media (max-width: 900px) {
  .menu.desktop-menu {
    display: none; /* Hide desktop menu on mobile */
  }

  .menu-button {
    display: flex; /* Show hamburger menu button */
  }

  .navbar {
    justify-content: space-between;
    padding: 0 10px;
  }

  h3 {
    width: 100%;
    text-align: left;
  }

  .login-button {
    margin-right: 10px;
    width: 120px;
    height: 36px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
 
  .menu-button{
    margin-left: -10px;
  }
  .navbar-container {
    height: 60px;
  }

  .login-button {
    width: 100px;
    height: 32px;
    font-size: 12px;
    margin-right: 5px;
  }
}

/* Dialog Styles for Responsiveness */
@media (max-width: 600px) {
  .MuiDialog-paper {
    margin: 10px;
    width: 100%;
    max-width: 100%;
  }

  .MuiDialogContent-root {
    padding: 10px;
  }

  .MuiTextField-root {
    width: 100% !important;
  }

  .MuiButton-root {
    width: 100%;
    max-width: 200px;
  }
}

/* General Input and Button Styles */
input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  color: green;
}